<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>详情|星愿</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/layui.css">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/moment-detail.css">
</head>
<body>
<div class="background-img"></div>
<div id="left-nav">
    <div id="profile">
        <img src="static/img/user.png">
        <span></span>
    </div>
    <div id="list">
        <a href="#" id="account">
            <span class="glyphicon glyphicon-home icon"></span>
            <span class="description">账号</span>
            <span class="glyphicon glyphicon-chevron-up up-down"></span>
        </a>
        <ul id="account-list">
            <li><a href="#"><span class="glyphicon glyphicon-certificate logo"></span><span class="text">学生认证</span></a></li>
        </ul>
        <a href="#" id="setting">
            <span class="glyphicon glyphicon-cog icon"></span>
            <span class="description">设置</span>
            <span class="glyphicon glyphicon-chevron-up up-down"></span>
        </a>
        <ul id="setting-list">
            <li><a href="#"><span class="glyphicon glyphicon-user logo"></span><span class="text">更改昵称</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-picture logo"></span><span class="text">更改头像</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-pencil logo"></span><span class="text">更改签名</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-lock logo"></span><span class="text">修改密码</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-phone logo"></span><span class="text">修改号码</span></a></li>
        </ul>
        <span></span>
        <a href="#" id="moment">
            <span class="glyphicon glyphicon-heart icon"></span>
            <span class="description">动态</span>
            <span class="glyphicon glyphicon-chevron-up up-down"></span>
        </a>
        <ul id="moment-list">
            <li><a href="add_moment.html"><span class="glyphicon glyphicon-plus logo"></span><span class="text">新增愿望</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-list logo"></span><span class="text">愿望清单</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-star logo"></span><span class="text">我的关注</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-envelope logo"></span><span class="text">好友私信</span></a></li>
        </ul>
        <a href="/xinyuan/out" id="sign-out">
            <span class="glyphicon glyphicon-log-out icon"></span>
            <span class="description">注销</span>
            <!--<span class="glyphicon glyphicon-chevron-up up-down"></span>-->
        </a>
    </div>
</div>
<div id="content">
    <div id="top-nav">
        <a href="index.html"><img src="static/img/logo2.png"></a>
        <ul>
            <li><a href="index.html" class="nav-item">首页</a></li>
            <li><a href="#" class="nav-item">日榜</a></li>
            <li><a href="#" class="nav-item">周榜</a></li>
            <li><a href="#" class="nav-item">月榜</a></li>
            <li><a href="#" class="nav-item">话题</a></li>
        </ul>
    </div>
    <article class="am-article article">
        <div class="am-article-hd">
            <img src="static/img/user.png" class="user-photo" >
            <h1 class="am-article-title"></h1>
            <p class="am-article-meta"></p>
        </div>
        <div class="am-article-bd">
            <p class="am-article-lead"></p>
        </div>
    </article>
    <div class="comment-list">
        <ul class="am-comments-list am-comments-list-flip" id="test-list">
            <!--<li class="am-comment">-->
                <!--<a href="">-->
                    <!--<img src="static/img/user.png" class="am-comment-avatar" alt=""/> &lt;!&ndash; 评论者头像 &ndash;&gt;-->
                <!--</a>-->
                <!--<div class="am-comment-main"> &lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                    <!--<header class="am-comment-hd">-->
                        <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                        <!--<div class="am-comment-meta"> &lt;!&ndash; 评论元数据 &ndash;&gt;-->
                            <!--<a href="#link-to-user" class="am-comment-author"></a> &lt;!&ndash; 评论者 &ndash;&gt;-->
                            <!--评论于-->
                            <!--<time datetime=""></time>-->
                        <!--</div>-->
                    <!--</header>-->

                    <!--<div class="am-comment-bd">-->

                    <!--</div> &lt;!&ndash; 评论内容 &ndash;&gt;-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="am-comment am-comment-flip">-->
                <!--<a href="">-->
                    <!--<img src="static/img/user.png" class="am-comment-avatar" alt=""/> &lt;!&ndash; 评论者头像 &ndash;&gt;-->
                <!--</a>-->
                <!--<div class="am-comment-main"> &lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                    <!--<header class="am-comment-hd">-->
                        <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                        <!--<div class="am-comment-meta"> &lt;!&ndash; 评论元数据 &ndash;&gt;-->
                            <!--<a href="#link-to-user" class="am-comment-author"></a> &lt;!&ndash; 评论者 &ndash;&gt;-->
                            <!--评论于-->
                            <!--<time datetime=""></time>-->
                        <!--</div>-->
                    <!--</header>-->

                    <!--<div class="am-comment-bd">-->

                    <!--</div> &lt;!&ndash; 评论内容 &ndash;&gt;-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="am-comment">-->
                <!--<a href="">-->
                    <!--<img src="static/img/user.png" class="am-comment-avatar" alt=""/> &lt;!&ndash; 评论者头像 &ndash;&gt;-->
                <!--</a>-->
                <!--<div class="am-comment-main"> &lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                    <!--<header class="am-comment-hd">-->
                        <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                        <!--<div class="am-comment-meta"> &lt;!&ndash; 评论元数据 &ndash;&gt;-->
                            <!--<a href="#link-to-user" class="am-comment-author"></a> &lt;!&ndash; 评论者 &ndash;&gt;-->
                            <!--评论于-->
                            <!--<time datetime=""></time>-->
                        <!--</div>-->
                    <!--</header>-->

                    <!--<div class="am-comment-bd">-->

                    <!--</div> &lt;!&ndash; 评论内容 &ndash;&gt;-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="am-comment am-comment-flip">-->
                <!--<a href="">-->
                    <!--<img src="static/img/user.png" class="am-comment-avatar" alt=""/> &lt;!&ndash; 评论者头像 &ndash;&gt;-->
                <!--</a>-->
                <!--<div class="am-comment-main"> &lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                    <!--<header class="am-comment-hd">-->
                        <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                        <!--<div class="am-comment-meta"> &lt;!&ndash; 评论元数据 &ndash;&gt;-->
                            <!--<a href="#link-to-user" class="am-comment-author"></a> &lt;!&ndash; 评论者 &ndash;&gt;-->
                            <!--评论于-->
                            <!--<time datetime=""></time>-->
                        <!--</div>-->
                    <!--</header>-->

                    <!--<div class="am-comment-bd">-->

                    <!--</div> &lt;!&ndash; 评论内容 &ndash;&gt;-->
                <!--</div>-->
            <!--</li>-->
        </ul>
    </div>

</div>

<script src="static/js/jquery.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<script src="static/js/layui.js"></script>
<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
<script src="static/js/moment_detail.js"></script>
</body>
</html>
