<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录|星愿</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/layui.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/radar.css">
</head>
<body>
<div id="background-img"></div>
<div class="layui-container main-style">
    <div class="layui-col-md8 layui-col-lg8 show-ball">
        <div class="radar">
        </div>
    </div>
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-lg4 form-area">
        <div class="sign-in-form">
            <br>
            <h3>用户登录&nbsp;&nbsp;&nbsp;<span th:text="${msg}" style="color: red;font-size: 20px;"></span></h3>
            <hr><br>
            <form action="/xinyuan/login" method="post" class="form-horizontal"
                  autocomplete="off" onsubmit="return login_validate()">
                <input type="text" name="phone" class="form-control" id="user-field" placeholder="用户名/手机号">
                <input type="password" name="password" class="form-control" id="psw-field" placeholder="密码">
                <button type="submit" class="btn-submit btn btn-success btn-lg">登录</button>
            </form>
            <a href="/xinyuan/sign_up" class="to-sign-up">还没有账号？<span style="color: coral">立即注册</span></a>
            <hr><br>
            <span id="info-label">第三方登录</span>
            <br>
            <button id="QQ-link" class="btn btn-danger"><img src="static/img/qq32.png"><span>&nbsp;QQ登录</span></button>
            <button id="weibo-link" class="btn btn-info"><img src="static/img/sina32.png"><span>&nbsp;微博登录</span></button>
        </div>
    </div>
</div>
<script src="static/js/jquery.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<script src="static/js/layui.js"></script>
<!--<script src="static/js/show_profile.js"></script>-->
<script src="static/js/sign.js"></script>
</body>
</html>