<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwd.dao.CommentDao">


    <resultMap type="CommentResult" id="CommentResult">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="wishId" column="wish_id"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <association property="username" column="user_id"
                     select="com.gwd.dao.UserDao.getUserName"></association>
    </resultMap>


    <!--       List<Comment> getAll(Integer wishId);-->
    <select id="getAll" resultMap="CommentResult">
        select * from comment where wish_id = #{wishId} order by create_time desc
    </select>

</mapper> 