<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwd.dao.UserDao">

    <resultMap type="User" id="UserResult">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <!--    User getUserByPhoneAndPassword(@Param("phone") String phone, @Param("password") String password); // 通过手机号和密码查询用户-->
    <select id="getUserByPhoneAndPassword" resultType="User">
          select * from user where phone = #{phone} and password = #{password}
     </select>

    <!--    String getUserName(Integer id); // 获取用户头像-->
    <select id="getUserName" resultType="String">
          select username from user where id = #{id}
     </select>

    <!--  Integer getUserByToken(@Param("token") String token); // 通过token用户id-->
    <select id="getUserByToken" resultType="Integer">
          select id from user where token = #{token}
     </select>


    <!--   User updateTokenById(@Param("id") Integer id, @Param("token") String token); // 更新用户token-->
    <update id="updateTokenById">
          update user set token =#{token} where id = #{id}
    </update>


    <!--    List<User> getRand(); //  随机返回用户-->
    <select id="getRand" resultType="User">
        select  * FROM user order by rand() limit 10
    </select>

    <!--    User getUserByPhone(String phone); -->
    <select id="getUserByPhone" resultType="User">
        select *from user where phone = #{phone}
    </select>

   <!--void updateUserPasswordByPhone(@Param("phone") String phone,@Param("password") String password); // 通过手机号修改用户密码-->
    <update id="updateUserPasswordByPhone">
        update user set password = #{password} where phone = #{phone}
    </update>

    <!--void updateAvatarById(@Param("id") Integer id,@Param("avatar") String avatar); // 通过id更新头像-->
    <update id="updateAvatarById">
        update user set avatar = #{avatar} where id = #{id}
    </update>


    <!--    User getById(Integer id);-->
    <select id="getById" resultType="User">
        select *from user where id = #{id}
    </select>

</mapper> 